body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
  padding:  0% 10% 0% 10%  ;
  font-size: 100%;
}


/*El "header" es la imagen/el logo de Telar que se encuentra en la parte superior de la pagina */
.header{
    width:  200px;
    margin:  20px auto;
    text-align: center;
    font-size: 2.5em;
}

.header img{
  width:  50%;
}

.header:hover{
  cursor: pointer;
}

h1{
  text-align: center;
  font-size: 2.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width:  1300px){
  body{
    padding: 2%;
  }

  h1{
    display: none;
  }

  .header{
    display: none;
  }

} 
